# Dependency directories
node_modules

# macOS Finder folder configuration file
.DS_Store

# Distribution folder
dist/

# npm pack
package/
*.tgz

# typedoc
docs/

# unit tests
coverage/

# test temp folders
temp_*
